<li class='quote-item'>
  <figure>
    <blockquote>
      <p>{{@text}}</p>
    </blockquote>
    <figcaption>{{@author}}</figcaption>
  </figure>
  <LinkTo @route='quote' @model={{@id}} class='btn'>
    View
  </LinkTo>
</li>