<header class='header'>
  <div class='logo'>Great Quotes</div>
  <nav class='nav'>
    <ul>
      <li>
        <LinkTo class={{if this.listActive 'active'}} @route='quotes'>
          All Quotes
        </LinkTo>
      </li>
      <li>
        <LinkTo class={{unless this.listActive 'active'}} @route='new-quote'>
          Add a Quote
        </LinkTo>
      </li>
    </ul>
  </nav>
</header>